<p>first-com works!</p>
<section class="d-flex">
  <div>
    <h1>Interplation > A list</h1>
    <ul *ngFor="let course of courses">
      <li>{{ course }}</li>
    </ul>
  </div>
  <div class="corsat">
    <h1>Call a service</h1>
    <ul *ngFor="let course1 of coursat">
      <li>{{ course1 }}</li>
    </ul>
  </div>
</section>
<section class="d-flex">
  <div>
    <!-- 01- (Interplation binding) -->
    <h1>01- (Interplation binding)</h1>
    <p>Course : {{courseName}}</p>
  </div>
  <!----------------->
  <div>
    <!-- 02- (Property binding=One Way Binding) -->
    <h1>02- (Property bindin=Attribute binding=One Way Binding)</h1>
    <p [textContent]="courseName">textContent Property binding</p>
    <img [src]="imageURL" />
    <table>
      <thead>
        <tr>
          <th [colSpan]="colSpan">cell1</th>
          <th [attr.colspan]="colSpan">cell2</th>
        </tr>
      </thead>
    </table>
  </div>
</section>
<!----------------->
<!-- 03- (Class binding Filter Events) -->
<div>
  <h1>03- (Class binding Filter Events)</h1>
  <section class="d-flex">
    <div>
      <button type="button" class="btn btn-primary" [class.active]="isActive">Primary</button>
    </div>
    <div>
      <button [style.backgroundColor]="isActive? 'yellow' : 'blue' ">New Button</button>
    </div>
  </section>
</div>
<!-- 04- (Event Binding Filter Events) -->
<div>
  <h1>04- (Event Binding Filter Events)</h1>
  <section class="d-flex">
    <div>
      <button (click)="MethodName()">Save To DataBase</button>
    </div>
    <!-- $event For all details ---->
    <div (click)="divClicked()">
      <button (click)="btnClicked($event)">
        Save
      </button>
    </div>
    <div>
      <input (keyup)="onKeyUp($event)" type="text" placeholder="with js">
      
    </div>
    <div>
      <!--- Event Filter --->
      <input (keyup.enter)="onKeyUpNew($event)" type="text" placeholder="with ng">
    </div>
    <div>
      <!--- get val in var with JS --->
      <input (keyup.enter)="onKeyUpVal($event)" type="text" placeholder="get val in var with JS">
      <div>{{ nameval }}</div>
    </div>
    <div>
      <!-- Get input's val by Template Variable (# ) -->
      <input #firstName (keyup.enter)="onKeyUpTempVal(firstName.value)" type="text"
        placeholder="Get input's val by Template Variable">
      <div>{{ tempVal }}</div>
    </div>

  </section>
</div>

<div class="corsat">
  <h1>Call a service</h1>
  <ul *ngFor="let course1 of coursat">
    <li>{{ course1 }}</li>
  </ul>
</div>

<!-- 05- (Two Way Binding) -->

<div>
  <h1>05- (Two Way Binding)</h1>
<section class="d-flex">
  <div>
    <h1>(1) Old way طريقة مرهقة</h1>
      <input (keyup.enter)="oldName=$any($event.target).value;onKeyUpTwoWayBind(oldName)" />
      <p> {{oldName}} </p>
  </div>
  <!-- Get input's val by Banana-in-Boxing -->
  <!-- ngModel lazem a3arafha fe app.module.ts -->
  <div>
    <input [(ngModel)]="newName" (keyup.enter)="onKeyUpBanana(newName)" type="text" placeholder="Get input's val by Banana-in-Boxing">
  <p>{{ newName }}</p>
  </div>
</section>
</div>